<!DOCTYPE html>
<html lang="en">

<head>
    <title>輿情分析平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            {% include 'navbar.html' %}
            <div class="col-lg-12">
                <h1>全文檢索與你關心的關鍵詞關聯分析</h1>
                <p>對你想要了解的議題進行全文檢索，找出有哪些詞與你的關鍵詞一起出現?</p>
            </div>

            <div class="col-lg-6 mb-2">
                <!-- 輸入條件區塊開始 -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">輸入條件</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">關心哪個關鍵詞?</label>
                            <div class="col-md-9">
                                <input id="input_keyword" name="userkey" value="肺炎"
                                    class="form-control form-control-success">
                                <small class="form-text text-muted">全文搜尋，可輸入多個關鍵詞或片段詞句，以空白隔開。
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 form-control-label">條件</label>

                            <div class="col-md-9 radio mb-3">
                                <label class="radio-inline"><input type="radio" value="and" name="condradio"
                                        checked>and</label>
                                <label class="radio-inline"><input type="radio" value="or" name="condradio">or</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">新聞類別</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="radio" value="全部" name="cateradio"
                                        checked>全部</label>
                                <label class="radio-inline"><input type="radio" value="政治" name="cateradio">政治</label>
                                <label class="radio-inline"><input type="radio" value="科技" name="cateradio">科技</label>
                                <label class="radio-inline"><input type="radio" value="運動" name="cateradio">運動</label>
                                <label class="radio-inline"><input type="radio" value="證卷" name="cateradio">證卷</label>
                                <label class="radio-inline"><input type="radio" value="產經" name="cateradio">產經</label>
                                <label class="radio-inline"><input type="radio" value="娛樂" name="cateradio">娛樂</label>
                                <label class="radio-inline"><input type="radio" value="生活" name="cateradio">生活</label>
                                <label class="radio-inline"><input type="radio" value="國際" name="cateradio">國際</label>
                                <label class="radio-inline"><input type="radio" value="社會" name="cateradio">社會</label>
                                <label class="radio-inline"><input type="radio" value="文化" name="cateradio">文化</label>
                                <label class="radio-inline"><input type="radio" value="兩岸" name="cateradio">兩岸</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">最近多少周?</label>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="radio" value="1" name="wkradio">1</label>
                                <label class="radio-inline"><input type="radio" value="2" name="wkradio"
                                        checked>2</label>
                                <label class="radio-inline"><input type="radio" value="3" name="wkradio">3</label>
                                <label class="radio-inline"><input type="radio" value="4" name="wkradio">4</label>
                                <label class="radio-inline"><input type="radio" value="6" name="wkradio">6</label>
                                <label class="radio-inline"><input type="radio" value="8" name="wkradio">8</label>
                                <label class="radio-inline"><input type="radio" value="12" name="wkradio">12</label>
                                <small class="form-text text-muted">以最新資料時間為準，往前推多少周?</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button type="button" id="btn_ok" class="btn btn-primary">查詢</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- 輸入區塊結束-->

            <!-- 繪圖區塊-->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">這些詞與它同時出現喔!</h3>
                    </div>
                    <div class="card-body">

                        <div id="cloud"></div>

                    </div>
                </div>
            </div><!-- 區塊結束-->

            <!-- 新聞連結區塊-->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">以下新聞與它有關</h3>
                    </div>
                    <div class="card-body">

                        <!-- 這個標籤顯示頁碼 -->
                        <ul class="list-group" id="newslinks"></ul>

                    </div>
                </div>
            </div><!-- 區塊結束-->

            <!-- 同時出現的關鍵字區塊-->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">關鍵字所在的段落</h3>
                    </div>
                    <div class="card-body">

                        <!-- 這個標籤顯示頁碼 -->
                        <ul class="list-group" id="same_paragraph"></ul>


                    </div>
                </div>
            </div><!-- 區塊結束-->

            <!-- 同時出現的關鍵字區塊-->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">與它同時出現的關鍵字</h3>
                    </div>
                    <div class="card-body">
                        <ul id="related_words"></ul>
                    </div>
                </div>
            </div><!-- 區塊結束-->

        </div>
    </div>
</body>

</html>

<!-- chartjs-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- paginating.js is located in the local static folder -->
<!-- 載入頁碼的js -->
<script type="text/javascript" src="/static/pagination_bs4.js"></script>

<!-- Here are your codes -->
<script>

    // Show the page with default setting when page is initialized.
    call_ajax();

    // btn submit
    $('#btn_ok').on('click', function () {
        call_ajax();
    }); //event function

    // category radio button
    $("input[name='cateradio']").on('change', function () {
        call_ajax();
    }); //event function

    // weeks radio button
    $("input[name='wkradio']").on('change', function () {
        call_ajax();
    }); //event function

    // condition radio button
    $("input[name='condradio']").on('change', function () {
        call_ajax();
    }); //event function

    function call_ajax() {
        const userkey = $("#input_keyword").val();
        const weeks = $("input[name='wkradio']:checked").val();
        const cate = $("input[name='cateradio']:checked").val();
        const cond = $("input[name='condradio']:checked").val();

        if (userkey.length < 2) {
            alert("輸入關鍵字不可空白或小於兩個中文字!");
            return 0;
        }
        $.ajax({
            type: "POST",
            url: "api_get_userkey_associate/",
            data: {
                "userkey": userkey,
                'cate': cate,
                'weeks': weeks,
                'cond': cond,
            }, // pass to server
            success: function (received) {

                // show news title and link
                const newslinks = received['newslinks'];
                $('#newslinks').empty();
                if (newslinks.length == 0) {
                    alert("No result returned!")
                }
                // show news title and link 
                for (let i = 0; i < newslinks.length; i++) {
                    const msg = '<li><a href="' + newslinks[i].link + '" target="_blank">' + newslinks[i].category + ':' + newslinks[i].title + '</a></li>';
                    $('#newslinks').append(msg);
                }

                //clear the paging area
                $(".pagination-container-newslinks").empty();

                // process pagination
                paginate_newslinks();


                // show related words
                const related_words = received['related_words'];
                $('#related_words').empty();
                for (let i = 0; i < related_words.length; i++) {
                    const msg = '<li>' + related_words[i] + '</li>';
                    $('#related_words').append(msg);
                }

                // show paragraphs containing the user keywords
                // pagination
                const same_paragraph = received['same_paragraph'];

                $('#same_paragraph').empty();

                for (let i = 0; i < same_paragraph.length; i++) {
                    const msg = '<li>' + same_paragraph[i] + '</li>';
                    $('#same_paragraph').append(msg);
                }

                //clear the paging area
                //
                $(".pagination-container-paragraph").empty();

                // process pagination
                paginate_paragraph();

                // draw word cloud for related words
                topWordToDraw = received.clouddata;
                $('#cloud').empty();
                drawCloud(topWordToDraw, '#cloud');

            }, //success function

            error: function (msg, status) {
                console.log(msg);
                console.log(status);
            }, //print status and msg when ajax goes wrong

        }); //ajax

    } //function call_ajax()

    // paging for news list
    // Reference: https://github.com/AlexisHolyoak/paginathing

    function paginate_newslinks() {

        // 把顯示在#newslinks的條列式的文字 整理成逐頁顯示
        $('#newslinks').paginathing({

            perPage: 10, // show item per page
            insertAfter: '#newslinks', //class or id (eg: .element or #element). append the paginator after certain element

            limitPagination: 4, // false or number. Limiting your pagination number.
            pageNumbers: true, // showing current page number of total pages number, to work properly limitPagination must be true 
            prevNext: true, // enable previous and next button
            firstLast: true, // enable first and last button
            prevText: '&laquo;', // Previous button text
            nextText: '&raquo;', // Next button text
            firstText: 'First', // "First button" text
            lastText: 'Last', // "Last button" text
            containerClass: 'pagination-container-newslinks', //這是頁碼元件的class名稱 清除時會用到 extend default container class
            ulClass: 'pagination', // extend default ul class
            liClass: 'page', // extend li class
            activeClass: 'active', // active link class
            disabledClass: 'disable', // disabled link class,

        })

    } //pagination

    // paging for news list
    function paginate_paragraph() {

        // 把顯示在#newslinks的條列式的文字 整理成逐頁顯示
        $('#same_paragraph').paginathing({

            perPage: 8, // show item per page
            insertAfter: '#same_paragraph', //class or id (eg: .element or #element). append the paginator after certain element

            limitPagination: 5, // false or number. Limiting your pagination number.
            pageNumbers: true, // showing current page number of total pages number, to work properly limitPagination must be true 
            prevNext: true, // enable previous and next button
            firstLast: true, // enable first and last button
            prevText: '&laquo;', // Previous button text
            nextText: '&raquo;', // Next button text
            firstText: 'First', // "First button" text
            lastText: 'Last', // "Last button" text
            containerClass: 'pagination-container-paragraph', //這是頁碼元件的class名稱 清除時會用到  extend default container class
            ulClass: 'pagination', // extend default ul class
            liClass: 'page', // extend li class
            activeClass: 'active', // active link class
            disabledClass: 'disable', // disabled link class,

        })

    } //pagination

</script>

<!-- cloud chart
Here is the cloud chart script.
reference:http://bl.ocks.org/joews/9697914
reference:https://jsfiddle.net/x827g61m/
reference:https://www.d3-graph-gallery.com/wordcloud
src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js">
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>

<script type="text/javascript">

    function drawCloud(topWordToDraw, element_id) {
        // You should set a proper box size to show cloud chart
        const width = 500;
        const height = 500;

        // First define your cloud data, using `text` and `size` properties:
        // Next you need to use the layout script to calculate the placement, rotation and size of each word:
        // Constructs a new cloud layout instance.
        // Wordcloud features that are different from one word to the other
        d3.layout.cloud()
            .size([width, height])
            .words(topWordToDraw) //data for cloud chart
            .rotate(function () {
                //return ~~(Math.random() * 2) * 90; //~~1.5 => 1  (same as Math.floor(1.5))
                return 0; // don't rotate
            })
            .font("Impact")
            .fontSize(function (d) {
                return d.size;
            })
            .on("end", draw) //call function draw()
            .start();

        // Finally implement `draw`, which performs the D3 drawing
        // This function takes the output of 'layout' above and draw the words
        // Wordcloud features that are THE SAME from one word to the other can be here
        function draw(words) {

            const fill = d3.scale.category20();

            // append the svg object to the body of the page
            d3.select(element_id).append("svg") // element_id such as "#cloud"
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + ~~(width / 2) + "," + ~~(height / 2) + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("-webkit-touch-callout", "none")
                .style("-webkit-user-select", "none")
                .style("-khtml-user-select", "none")
                .style("-moz-user-select", "none")
                .style("-ms-user-select", "none")
                .style("user-select", "none")
                .style("cursor", "default")
                .style("font-family", "Impact")
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                });
        } //draw
    } //drawCloud()
</script>
