<!DOCTYPE html>
<html lang="en">

<head>
    <title>輿情分析平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
</head>

<body>
<div class="container">

    <div class="row">
        {% include 'navbar.html' %}
        <div class="col-lg-12">
            <h1>你關心的關鍵詞的情緒分析</h1>
            <p>可以了解媒體對該關鍵詞的情緒程度</p>
        </div>
        <div class="col-lg-6 mb-2"><!-- 輸入條件區塊開始 -->
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">輸入條件</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">關心哪個關鍵詞?</label>
                        <div class="col-md-9">
                            <input id="input_keyword" name="userkey" value="疫情 肺炎"
                                   class="form-control form-control-success">
                            <small class="form-text text-muted">查找關鍵字，可輸入多個，空白隔開。主要以人名，產品，地理區域為主(搜尋斷詞後的詞語，並非全文搜尋)。
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3 form-control-label">條件</label>

                        <div class="col-md-9 radio mb-3">
                            <label class="radio-inline"><input type="radio" value="and" name="condradio"
                                                               checked>and</label>
                            <label class="radio-inline"><input type="radio" value="or" name="condradio">or</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">新聞類別</label>
                        <div class="col-md-9">
                            <label class="radio-inline"><input type="radio" value="全部" name="cateradio"
                                                               checked>全部</label>
                            <label class="radio-inline"><input type="radio" value="政治" name="cateradio">政治</label>
                            <label class="radio-inline"><input type="radio" value="科技" name="cateradio">科技</label>
                            <label class="radio-inline"><input type="radio" value="運動" name="cateradio">運動</label>
                            <label class="radio-inline"><input type="radio" value="證卷" name="cateradio">證卷</label>
                            <label class="radio-inline"><input type="radio" value="產經" name="cateradio">產經</label>
                            <label class="radio-inline"><input type="radio" value="娛樂" name="cateradio">娛樂</label>
                            <label class="radio-inline"><input type="radio" value="生活" name="cateradio">生活</label>
                            <label class="radio-inline"><input type="radio" value="國際" name="cateradio">國際</label>
                            <label class="radio-inline"><input type="radio" value="社會" name="cateradio">社會</label>
                            <label class="radio-inline"><input type="radio" value="文化" name="cateradio">文化</label>
                            <label class="radio-inline"><input type="radio" value="兩岸" name="cateradio">兩岸</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">最近多少周?</label>
                        <div class="col-md-9">
                            <label class="radio-inline"><input type="radio" value="1" name="wkradio">1</label>
                            <label class="radio-inline"><input type="radio" value="2" name="wkradio" checked>2</label>
                            <label class="radio-inline"><input type="radio" value="3" name="wkradio">3</label>
                            <label class="radio-inline"><input type="radio" value="4" name="wkradio">4</label>
                            <label class="radio-inline"><input type="radio" value="6" name="wkradio">6</label>
                            <label class="radio-inline"><input type="radio" value="8" name="wkradio">8</label>
                            <label class="radio-inline"><input type="radio" value="12" name="wkradio">12</label>
                            <small class="form-text text-muted">以最新資料時間為準，往前推多少周?</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button type="button" id="btn_ok" class="btn btn-primary">查詢</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- 輸入區塊結束-->

        <!-- 顯示區塊-->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">情緒分析:文章層級</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <canvas id="article_senti_pie_chart"></canvas>
                    </div>
                    <div>
                        <ul id="senti_info"></ul>
                    </div>
                </div>
            </div>
        </div><!-- 區塊結束-->

        <!-- 顯示區塊-->
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">正反面情緒變化</h3>
                </div>
                <div class="card-body">
                    <small>每個時間點的正反面報導的篇數(每天統計，6周含以上以5天為單位統計)</small>
                    <div class="row">
                        <canvas id="time_line_chart"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- 區塊結束-->

    </div>
</div>
</body>

</html>
<!-- java scrip通常寫在網頁最後面，等頁面初始化之後才會執行-->
<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!-- 程式碼區 -->
<script>

    call_ajax();

    //**按鈕事件
    $('#btn_ok').on('click', function () {
        call_ajax();
    }); //event function

    $("input[name='cateradio']").on('change', function () {
        call_ajax();
    }); //event function

    $("input[name='wkradio']").on('change', function () {
        call_ajax();
    }); //event function

    $("input[name='condradio']").on('change', function () {
        call_ajax();
    }); //event function

    function call_ajax() {
        const userkey = $("#input_keyword").val();
        const weeks = $("input[name='wkradio']:checked").val();
        const cate = $("input[name='cateradio']:checked").val();
        const cond = $("input[name='condradio']:checked").val();


        if (userkey.length < 2) {
            alert("輸入關鍵字不可空白或小於兩個中文字!");
            return 0;
        }

        $.ajax({
            type: "GET",
            url: "api_get_userkey_sentiment",
            data: {
                "userkey": userkey,
                'cate': cate,
                'weeks': weeks,
                'cond': cond,

            }, // pass to server
            success: function (received) {
                const data_pie = received['sentiCount'];
                show_piechart(data_pie);

                $("#senti_info").empty();

                //$("#senti_info").append("Pos:" + data_pie.pos + "篇, ");
                //$("#senti_info").append("Obj:" + data_pie.obj + "篇, ");
                //$("#senti_info").append("Neg:" + data_pie.neg + "篇");

                for (let k in data_pie) {
                    $("#senti_info").append(k + ": " + data_pie[k] + "篇 ");
                }

                const data_pos = received['data_pos'];
                const data_neg = received['data_neg'];
                show_linechart(data_pos, data_neg);

            } //success function
        }); //ajax
    } //function call_ajax()

    let chart_ctx = document.getElementById("article_senti_pie_chart").getContext("2d");
    let piechart = new Chart(chart_ctx, {
        type: "pie",
        data: {},
        options: {},
    });

    function show_piechart(chartdata) {
        piechart.data = {
            labels: ['正面', '負面', '中立'],
            datasets: [{
                data: [chartdata.Positive, chartdata.Negative, chartdata.Neutral],
                backgroundColor: ['#ff6384', '#36a2eb', '#cc65fe'],
            }],
        };
        piechart.update();
    }
</script>


<script>

    // Draw the sentiment line chart here!
    let ctx_linechart = document.getElementById("time_line_chart").getContext('2d');
    let linechart = null;

    function show_linechart(data_pos, data_neg) {

        // for positive sentiment line chart
        let dataPos = {
            label: "Pos",
            data: data_pos,
            fill: true,
            borderColor: 'blue'
        };
        // for negative sentiment line chart
        let dataNeg =
            {
                label: 'Neg',
                borderColor: 'red',
                data: data_neg,
                fill: true,
            };

        let options_detail = {
            legend: {
                display: true,
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            //day: 'DD-MM-YYYY'
                            day: 'MM/DD'
                        }
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "篇數",
                    }
                }]
            }
        };

        let chart_spec = {
            type: 'line',
            data: {
                datasets: [dataPos, dataNeg],
            },
            options: options_detail,
        };

        // now draw the sentiment line chart
        if (linechart)
            linechart.destroy();
        linechart = new Chart(ctx_linechart, chart_spec);
    }

    // test samples
    /*
    let data_key_time_freq = [{"x": "2019-03-07", "y": 2},
     {"x": "2019-03-08", "y": 2},
     {"x": "2019-03-09", "y": 13}]
    */

</script>